
{% extends 'core/base.html'%}
{% block title%}Acerca de{% endblock %}
{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock  %}

{% block headers  %}
<h1>Acerca de Mi</h1>
<span class="subheading">Biografía</span>
{% endblock  %}
{% block content %}
<div class="row">
<div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg'%}">
</div>
<div class="col-lf-7 col-md-8">
    <h2 class="section-heading">Salgado Ibacache</h2>
    <p>Además de la programación, me apasiona el <strong>ciclismo</strong>, jugar <strong>fútbol</strong>, ver <strong>películas</strong> y subir al <strong>cerro</strong>. Estas actividades me conectan con la naturaleza, el movimiento y la creatividad, y forman parte esencial de mi visión personal y profesional.</p>
    </div>
    <p>Mi nombre es Salgado Ibacache y soy Full Stack Developer.</p>
</div>
</div>

{% endblock %}











