
{% extends 'core/base.html'%}
{% block title%}Contacto{% endblock %}

{% block background%}{% load static %} {% static 'core/img/contact-bg.jpg' %}{% endblock  %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesorias</span>
{% endblock %}
    
{% block content %}
<div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
    <br>
    <p><b>Telefono:</b> +569 3345678</p>
    <p><b>Pagina:</b> www.salgadoIbacache.com</p>
</div>
{% endblock %}








