
{% extends 'core/base.html'%}
{% block title%}Contacto{% endblock %}

{% block background%}{% load static %} {% static 'core/img/contact-bg.jpg' %}{% endblock  %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesorias</span>
{% endblock %}
    
{% block content %}
<div>
    <p>Como desarrollador Full Stack con una sólida base técnica y una mirada artística, combino mis habilidades en programación con mi experiencia en fotografía y cine para crear soluciones digitales únicas, funcionales y visualmente coherentes.</p>

    <h2>Perfil Profesional</h2>
    <p>Soy Full Stack Developer especializado en <strong>Django (Python)</strong> y <strong>React</strong>. Me interesa construir sitios y aplicaciones web que sean tanto estables como expresivos, con atención al diseño, la usabilidad y la narrativa visual.</p>

    <h3>Tecnologías que uso:</h3>
    <ul>
        <li><strong>Frontend:</strong> HTML5, CSS3, JavaScript, React, Tailwind CSS, Bootstrap</li>
        <li><strong>Backend:</strong> Django, Django REST Framework</li>
        <li><strong>Base de datos:</strong> PostgreSQL, MySQL, SQLite</li>
        <li><strong>Servicios en la nube:</strong> Firebase (autenticación, Firestore), Cloudinary (almacenamiento y optimización de imágenes y videos)</li>
        <li><strong>Herramientas y extras:</strong> Git, Linux</li>
        <li><strong>Internacionalización (i18n):</strong> Django Parler</li>
        <li><strong>Editor de contenido:</strong> CKEditor</li>
        <li><strong>Multimedia:</strong> Integración con YouTube y Vimeo</li>
        
    </ul>

    <h3>Contacto</h3>
    <p><b>Teléfono:</b> +569 3345678</p>
    <p><b>Página:</b> <a href="https://www.salgadoibacache.com" target="_blank">www.salgadoibacache.com</a></p>
</div>
{% endblock %}




